<!-- business.html -->
<div id="businessCardLayout" class="row h-100">
    <!-- Business Card Content (Full Row) -->
    <div class="row-auto">
        <div class="col-md-12 pt-2">
            <!-- Combined Space for Image (Layout 2) -->
            <div id="combinedImageSpace" class="row g-0">
                {% if "big" not in src or src.get("big") is none %}
                <img id="big_venueImg" src="https://via.placeholder.com/1140x375" class="img-fluid d-none">
                {% else %}
                <img id="big_venueImg" src="{{src['big']}}" class="img-fluid venueImg d-none">
                {% endif %}
                <div class="col-md-5">
                    {% if "one" not in src or src.get("one") is none %}
                    <img id="logoImg" src="https://via.placeholder.com/375x375" class="img-fluid">
                    {% else %}
                    <img id="logoImg" src="{{src['one']}}" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-md-7 text-end">
                    {% if "two" not in src or src.get("two") is none %}
                    <img id="venueImg" src="https://via.placeholder.com/650x375" class="img-fluid">
                    {% else %}
                    <img id="venueImg" src="{{src['two']}}" class="img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Other Business Details (Two Columns Below) -->
    <div class="row-auto d-flex align-items-end justify-content-between">
        <!-- Business Card Column -->
        <div class="col-md-6 py-2">
            <!-- Additional Business Card Details -->
            <h3 id="character-venue_name" style="display: none;" class="mt-2">{{database.business.venue_name}}</h1>
                <div class="row">
                    <div class="col">
                        <h5 id="character-venue_tagline">{{database.business.venue_tagline}} </h4>
                    </div>
                    <div class="col-md-auto">
                        {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#VenueNameAndTaglineModal">📝</span>{% endif %}
                    </div>
                </div>
            <!-- Contact Information/Socials Box -->
            <div class="socials-box mt-1 px-1 py-2">
                <!-- <h4>Contact & Socials </h4> -->
                <ul class="list-unstyled mb-0">
                    <li><strong>Address:</strong> 
                        <span id="character-housing_zone">{{database.business.venue_address.housing_zone}}</span> - 
                        Ward <span id="character-housing_ward">{{database.business.venue_address.housing_ward}}</span> - 
                        {% if database.business.venue_address.is_apartment == true %}
                        Apartment no. <span id="character-apartment_num">{{database.business.venue_address.apartment_num}}</span> - 
                        {% else %}
                        Plot no.  <span id="character-ward_plot">{{database.business.venue_address.ward_plot}}</span> - 
                        {% endif %}
                        <!-- TODO server and dc can't be numbers, convert them -->
                        <span id="character-server">{{database.business.venue_address.server}}</span> - 
                        <span id="character-data_center">Elemental</span> {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#VenueContactAndSocialsModal">📝</span>{% endif %}</li>
                    <li><strong>Venue website:</strong> <span id="character-venue_website"><a href="{{database.business.venue_website}}">{{database.business.venue_website}}</a></span></li>
                    <li><strong>Operating times:</strong> <span id="character-venue_operating_times">{{database.business.operating_times}}</span></li>
                    <li><strong>Discord:</strong> <span id="character_venue_discord">{{database.business.discord}}</span></li>
                    <li><strong>Twitter:</strong> <span id="character_venue_twitter">{{database.business.twitter}}</span></li>
                    <!-- Additional socials or contact information can be added here -->
                </ul>
            </div>
        </div>

        <!-- Character Details Column -->
        <div class="col-md-5 py-2 ps-0 text-md-end">
            <!-- Current Character's Details -->
            <h3>{{character["name"]}} {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#VenueStaffDetailsModal">📝</span>{% endif %}</h3>
            <p id="character-staff_role" class="mb-0">{{database.business.venue_staff.staff_role}}</p>
            <!-- Contact Information/Socials Box -->
            <div class="socials-box mt-2 px-1 py-2">
                <!-- <h4>You can reach m</h4> -->
                <ul class="list-unstyled mb-0">
                    <li><strong>Discord:</strong> <span id="character-staff_discord">{{database.business.venue_staff.staff_discord}}</span></li>
                    <li><strong>Twitter:</strong> <span id="character-staff_twitter">{{database.business.venue_staff.staff_twitter}}</li>
                    <li><strong>Personal website:</strong> <span id="character-staff_website"><a href="{{database.business.venue_staff.staff_website}}">{{database.business.venue_staff.staff_website}}</a></span></li>
                    <!-- Additional socials or contact information can be added here -->
                </ul>
            </div>
        </div>
    </div>
</div>