<!-- Collectibles container -->
<!-- Horizontal tab navigation for Mounts, Minions, and Achievements -->
<ul class="nav nav-tabs" id="collectiblesTabs">
    <li class="nav-item">
        <a class="nav-link active" id="mounts-tab" data-bs-toggle="tab" href="#mounts">Mounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="minions-tab" data-bs-toggle="tab" href="#minions">Minions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="achievements-tab" data-bs-toggle="tab" href="#achievements">Achievements</a>
    </li>
</ul>
<div class="tab-content pt-2 tab-containers">
    <!-- Mounts content -->
    <div class="tab-pane fade overflow-y-auto show active h-100" id="mounts">
        <h2>{{collectible["character"]["mounts"]["count"]}}/{{collectible["character"]["mounts"]["total"]}} Mounts collected</h2>

        <div class="row w-100">
            {% for mount in collectible["mounts"] %}
                <div class="col-sm-1 mb-2 px-0 text-center">
                        <!-- Mount image -->
                        <img class="collectible-icon" src="{{mount['icon']}}" alt="{{mount['name']}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{mount['name']}}" data-bs-trigger="hover focus" data-bs-delay="0">
                        
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Minions content -->
    <div class="tab-pane overflow-y-auto h-100 fade" id="minions">
        <h2>{{collectible["character"]["minions"]["count"]}}/{{collectible["character"]["minions"]["total"]}} Mounts collected</h2>

        <div class="row w-100">
            {% for minion in collectible["minions"] %}
                <div class="col-sm-1 mb-2 px-0 text-center">
                        <!-- Mount image -->
                        <img class="collectible-icon" src="{{minion['icon']}}" alt="{{minion['name']}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{minion['name']}}" data-bs-trigger="hover focus" data-bs-delay="0">
                        
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Achievements content -->
    <div class="tab-pane overflow-y-auto fade h-100" id="achievements">
        <!-- Achievements Navigation Bar -->
        <div class="row w-100">
            <div class="col-md-3 my-2 h-100">
                <div class="text-center">
                    <h5>Achievement points: {{collectible["character"]["achievements"]["points"]}}</h5>
                    <h5>{{collectible["character"]["achievements"]["count"]}}/{{collectible["character"]["achievements"]["total"]}} Complete</h5>
                </div>
                <div class="accordion" id="achievementAccordion">
                    {% for category in collectible["achievements"] %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="{{ category.lower()|replace(' ','-')|replace('&','and') }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ category|replace(' ','-')|replace('&','and') }}" aria-expanded="{{ loop.index == 1 }}" aria-controls="collapse{{ category|replace(' ','-')|replace('&','and') }}">
                                    {{ category }}
                                </button>
                            </h2>
                            <div id="collapse{{ category|replace(' ','-')|replace('&','and') }}" class="accordion-collapse collapse{{ ' show' if loop.index == 1 }}" aria-labelledby="{{ category.lower()|replace(' ','-')|replace('&','and') }}" data-bs-parent="#achievementAccordion">
                                <div class="accordion-body">
                                    <ul class="nav nav-pills flex-column" id="{{ category.lower()|replace(' ','-')|replace('&','and') }}-tabs">
                                    {% for subcategory, contents in collectible["achievements"][category]|items %}
                                    <li class="nav-item">
                                    <a href="#" class="nav-link subcat-tabs" id="{{ subcategory.lower()|replace(' ','-')|replace('&','and') }}-tab" data-subcategory="{{subcategory}}" data-achievements='{{ contents | tojson|safe }}'>
                                        {{ subcategory }}
                                    </a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        

            <!-- Content for Achievements -->
            <div id="achievementContent" class="col my-2 h-100">
            </div>
        </div>
    </div>
</div>