<!-- RPHook Modal -->
<div class="modal fade" id="RPHooksModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RPHooksModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="RPHooksModalLabel">Edit RP Hooks</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="hookForm" action="#" method="post">
                <div class="modal-body">
                    {{hookform.csrf_token}}
                    <div id="hook1" class="mb-3 gap-2">
                        {{hookform.hook1_title.label(id="hook1_title_label")}}
                        {{hookform.hook1_title(class="form-control")}}
                        {{hookform.hook1_body.label(id="hook1_body_label")}}
                        {{hookform.hook1_body(class="form-control form-boxes")}}
                    </div>
                    <div id="hook2" class="mb-3 gap-2">
                        {{hookform.hook2_title.label(id="hook2_title_label", class="form-control d-none")}}
                        {{hookform.hook2_title(class="form-control d-none")}}
                        {{hookform.hook2_body.label(id="hook2_body_label", class="form-control d-none")}}
                        {{hookform.hook2_body(class="form-control form-boxes d-none")}}
                    </div>
                    <div id="hook2" class="mb-3 gap-2">
                        {{hookform.hook3_title.label(id="hook3_title_label", class="form-control d-none")}}
                        {{hookform.hook3_title(class="form-control d-none")}}
                        {{hookform.hook3_body.label(id="hook3_body_label", class="form-control d-none")}}
                        {{hookform.hook3_body(class="form-control form-boxes d-none")}}
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <button id="addHook" class="btn btn-primary w-100">Add hook</button>
                        </div>
                        <div class="col-md-6">
                            <button id="removeHook" class="btn btn-primary w-100">Remove hook</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ hookform.submit_hooks(class="btn btn-primary")}}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- RPTraits Modal -->
<div class="modal fade" id="RPTraitsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RPTraitsLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="RPTraitsLabel">Edit RP Traits</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="traitForm" action="#" method="post">
                <div class="modal-body">
                    {{traitform.csrf_token}}
                    <div id="trait1" class="mb-3 gap-2">
                        <div class="row text-center">
                            <div class="col-md-6">
                                {{traitform.pos_trait1.label(id="pos_trait1_label")}}
                                {{traitform.pos_trait1(class="form-control")}}
                            </div>
                            <div class="col-md-6">
                                {{traitform.neg_trait1.label(id="neg_trait1_label")}}
                                {{traitform.neg_trait1(class="form-control")}}
                            </div>
                        </div>
                    </div>
                    <div id="trait2" class="mb-3 gap-2">
                        <div class="row text-center">
                            <div class="col-md-6">
                                {{traitform.pos_trait2.label(id="pos_trait2_label", class="d-none")}}
                                {{traitform.pos_trait2(class="form-control d-none")}}
                            </div>
                            <div class="col-md-6">
                                {{traitform.neg_trait2.label(id="neg_trait2_label", class="d-none")}}
                                {{traitform.neg_trait2(class="form-control d-none")}}
                            </div>
                        </div>
                    </div>
                    <div id="trait3" class="mb-3 gap-2">
                        <div class="row text-center">
                            <div class="col-md-6">
                                {{traitform.pos_trait3.label(id="pos_trait3_label", class="d-none")}}
                                {{traitform.pos_trait3(class="form-control d-none")}}
                            </div>
                            <div class="col-md-6">
                                {{traitform.neg_trait3.label(id="neg_trait3_label", class="d-none")}}
                                {{traitform.neg_trait3(class="form-control d-none")}}
                            </div>
                        </div>
                    </div>
                    <div id="trait4" class="mb-3 gap-2">
                        <div class="row text-center">
                            <div class="col-md-6">
                                {{traitform.pos_trait4.label(id="pos_trait4_label", class="d-none")}}
                                {{traitform.pos_trait4(class="form-control d-none")}}
                            </div>
                            <div class="col-md-6">
                                {{traitform.neg_trait4.label(id="neg_trait4_label", class="d-none")}}
                                {{traitform.neg_trait4(class="form-control d-none")}}
                            </div>
                        </div>
                    </div>
                    <div id="trait5" class="mb-3 gap-2">
                        <div class="row text-center">
                            <div class="col-md-6">
                                {{traitform.pos_trait5.label(id="pos_trait5_label", class="d-none")}}
                                {{traitform.pos_trait5(class="form-control d-none")}}
                            </div>
                            <div class="col-md-6">
                                {{traitform.neg_trait5.label(id="neg_trait5_label", class="d-none")}}
                                {{traitform.neg_trait5(class="form-control d-none")}}
                            </div>
                        </div>
                    </div>
                    <div class="row gap-2">
                        <div class="col">
                            <div class="row gap-2">
                                <button id="addPosTrait" class="btn btn-primary">Add positive trait</button>
                                <button id="addNegTrait" class="btn btn-primary">Add negative trait</button>
                            </div>
                        </div>
                        <div class="col">
                            <div class="row gap-2">
                                <button id="removePosTrait" class="btn btn-primary">Remove positive trait</button>
                                <button id="removeNegTrait" class="btn btn-primary">Remove negative trait</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    {{ traitform.submit_traits(class="btn btn-primary")}}
                </div>
            </form>
        </div>
    </div>
</div>

<!-- RPCharSummary modal -->
<div class="modal fade" id="RPCharSummaryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RPCharSummaryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="RPCharSummaryModalLabel">Edit Character Summary</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{render_form(charsummaryform, id="charsummary", render_kw={"name":"charsummary"},novalidate=True)}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- RPCharNicknames -->
<div class="modal fade" id="RPCharNicknamesModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RRPCharNicknamesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="RPCharNicknamesModalLabel">Edit Character nickname(s)</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{render_form(nicknamesform, id="nicknames-form", novalidate=True)}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- RPCharQuote -->
<div class="modal fade" id="RPCharQuoteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RPCharQuoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="RPCharQuoteModalLabel">Edit Character quote/tagline</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{render_form(charquoteform, id="charquoteform", novalidate=True)}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- RPSocials -->
<div class="modal fade" id="RPSocialsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RPSocialsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="RPSocialsModalLabel">Edit OOC Socials</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{render_form(rpsocialsform, id="rpsocialsform", novalidate=True)}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- RPAboutMe -->
<div class="modal fade" id="RPAboutMeModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="RPAboutMeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="RPAboutMeModalLabel">Edit OOC About Me</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="rpaboutmeform" method="post" action="#">
                {{rpaboutmeform.csrf_token}}
                <!-- {{render_form(rpaboutmeform, id="rpaboutmeform", novalidate=True)}} -->
                {{rpaboutmeform.aboutme.label}}
                {{rpaboutmeform.aboutme(class="form-control form-boxes")}}
                {{rpaboutmeform.submit_about_me(class="btn btn-primary")}}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Business Modals -->
<!-- VenueNameAndTagline -->
<div class="modal fade" id="VenueNameAndTaglineModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="VenueNameAndTaglineModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="VenueNameAndTaglineModalLabel">Edit Venue Name and Tagline</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{render_form(venuenameform, id="venuenameform", novalidate=True)}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- VenueContactAndSocials -->
<div class="modal fade" id="VenueContactAndSocialsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="VenueContactAndSocialsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="VenueContactAndSocialsModalLabel">Edit Venue Contact and Socials</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{render_form(venuecontactform, id="venuecontactform", novalidate=True)}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- VenueStaffDetails -->
<div class="modal fade" id="VenueStaffDetailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="VenueStaffDetailsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="VenueStaffDetailsModalLabel">Edit Staffer Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{render_form(venuestaffform, id="venuestaffform", novalidate=True)}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
//Scripts - RP field handling
    document.addEventListener("DOMContentLoaded", ()=>{
        let hookCounter = 1;
        let posCounter = 1;
        let negCounter = 1;

        //rp hook field adders/removers
        document.getElementById("addHook").addEventListener("click", (event)=>{
            event.preventDefault();
            if(hookCounter < 3){
                hookCounter++;
                let revealedHookTitle = document.getElementById(`hook${hookCounter}_title`);
                let revealedHookBody = document.getElementById(`hook${hookCounter}_body`);
                let revealedHookTitleLabel = document.getElementById(`hook${hookCounter}_title_label`);
                let revealedHookBodyLabel = document.getElementById(`hook${hookCounter}_body_label`);
    
                revealedHookTitle.classList.remove("d-none");
                revealedHookBody.classList.remove("d-none");
                revealedHookTitleLabel.classList.remove("d-none");
                revealedHookBodyLabel.classList.remove("d-none");
            }
        });
    
        document.getElementById("removeHook").addEventListener("click", (event)=>{
            event.preventDefault();
            if(hookCounter > 1){
                let revealedHookTitle = document.getElementById(`hook${hookCounter}_title`);
                let revealedHookBody = document.getElementById(`hook${hookCounter}_body`);
                let revealedHookTitleLabel = document.getElementById(`hook${hookCounter}_title_label`);
                let revealedHookBodyLabel = document.getElementById(`hook${hookCounter}_body_label`);
                
                revealedHookTitle.classList.add("d-none");
                revealedHookBody.classList.add("d-none");
                revealedHookTitle.value="";
                revealedHookBody.value="";
                revealedHookTitleLabel.classList.add("d-none");
                revealedHookBodyLabel.classList.add("d-none");
                hookCounter--;
            }
        });

        //rp trait field adders/removers
        //positive traits
        document.getElementById("addPosTrait").addEventListener("click", (event)=>{
            event.preventDefault();

            if(posCounter < 5){
                posCounter++;

                let revealedPosTrait = document.getElementById(`pos_trait${posCounter}`);
                let revealedPosTraitLabel = document.getElementById(`pos_trait${posCounter}_label`);

                revealedPosTrait.classList.remove("d-none");
                revealedPosTraitLabel.classList.remove("d-none");
            }
        });

        document.getElementById("removePosTrait").addEventListener("click", (event)=>{
            event.preventDefault();

            if(posCounter > 1){
                let revealedPosTrait = document.getElementById(`pos_trait${posCounter}`);
                let revealedPosTraitLabel = document.getElementById(`pos_trait${posCounter}_label`);

                revealedPosTrait.classList.add("d-none");
                revealedPosTrait.value = ""
                revealedPosTraitLabel.classList.add("d-none");

                posCounter--;
            }
        });

        //negative traits
        document.getElementById("addNegTrait").addEventListener("click", (event)=>{
            event.preventDefault();

            if(negCounter < 5){
                negCounter++;

                let revealedPosTrait = document.getElementById(`neg_trait${negCounter}`);
                let revealedPosTraitLabel = document.getElementById(`neg_trait${negCounter}_label`);

                revealedPosTrait.classList.remove("d-none");
                revealedPosTraitLabel.classList.remove("d-none");
            }
        });

        document.getElementById("removeNegTrait").addEventListener("click", (event)=>{
            event.preventDefault();

            if(negCounter > 1){
                let revealedPosTrait = document.getElementById(`neg_trait${negCounter}`);
                let revealedPosTraitLabel = document.getElementById(`neg_trait${negCounter}_label`);

                revealedPosTrait.classList.add("d-none");
                revealedPosTrait.value = ""
                revealedPosTraitLabel.classList.add("d-none");

                negCounter--;
            }
        });

        //TODO handle submit ajax
        //TODO update hooks with response from server

        document.getElementById("RPCharNicknamesModal").addEventListener("show.bs.modal", event=>{
            $.get(
                "{{url_for('card_maker.save_roleplaying_alias', char_id=database.char_id)}}",
                data=>{
                    if(data.status==="ok"){
                        populateFields(data)
                    }
                }
            );
        });

        document.getElementById("nicknames-form").addEventListener("submit", event=>{
            event.preventDefault();
            const formData = new FormData(document.getElementById("nicknames-form"));
            formData.append("char_id", "{{database.char_id}}");

            $.ajax({
                url:"{{url_for('card_maker.save_roleplaying_alias')}}",
                data: formData,
                contentType: false,
                processData: false,
                type:"POST",
                success: data=>{
                    serverValidateForm(data, document.getElementById("nicknames-form"), "RPCharNicknamesModal")
                },
            })
        });

        document.getElementById("RPCharSummaryModal").addEventListener("show.bs.modal", event=>{
            $.get(
                "{{url_for('card_maker.save_roleplaying_summary', char_id=database.char_id)}}",
                data=>{
                    if(data.status==="ok"){
                        populateFields(data)
                    }
                }
            );
        })

        document.getElementById("charsummary").addEventListener("submit", event=>{
            event.preventDefault();

            const formData = new FormData(document.getElementById("charsummary"));
            formData.append("char_id", "{{database.char_id}}");
            $.ajax({
                url: "{{url_for('card_maker.save_roleplaying_summary')}}",
                data: formData,
                contentType: false,
                processData: false,
                type: "POST",
                success: data=>{
                    // Do validation and handle data
                    serverValidateForm(data, document.getElementById("charsummary"), "RPCharSummaryModal");
                }
            });
        });

        document.getElementById("RPSocialsModal").addEventListener("show.bs.modal", event=>{
            $.get(
                "{{url_for('card_maker.save_roleplaying_socials', char_id=database.char_id)}}",
                data=>{
                    if(data.status==="ok"){
                        populateFields(data);
                    }
                }
            )
        })

        document.getElementById("rpsocialsform").addEventListener("submit", event=>{
            event.preventDefault();

            const formData = new FormData(document.getElementById("rpsocialsform"));
            formData.append("char_id", "{{database.char_id}}")
            $.ajax({
                url: "{{url_for('card_maker.save_roleplaying_socials')}}",
                data: formData,
                contentType: false,
                processData: false,
                type: "POST",
                success: data=>{
                    serverValidateForm(data, document.getElementById("rpsocialsform"), "RPSocialsModal");
                }
            })
        })

        // helper funcs for modals
        // https://stackoverflow.com/questions/71903920/how-to-hide-bootstrap-5-modal-on-button-click
        function modalCloseOnSuccess(modal){
            let toClose = bootstrap.Modal.getInstance(`#${modal}`);
            setTimeout(()=>{
                // close (hide) modal
                toClose.hide();
                // Manually remove static backdrop
                document.getElementsByClassName("modal-backdrop")[0].remove();
            }, 1500);
        }

        function populateFields(data){
            Object.keys(data).filter(k=>k!=="status").forEach(k=>{
                //reset field state
                let formField = document.getElementById(k);
                let errorFeedback = document.getElementById(`${k}-invalid-feedback`);
                formField.classList.remove("is-valid");
                formField.classList.remove("is-invalid");
                formField.parentElement.contains(errorFeedback)?errorFeedback.remove():undefined;
                // populate
                formField.value = data[k];
            })
        }

        function serverValidateForm(data, form, modalName){
            // data status can only be error or ok
            // TODO proper error coding and handle malformed data
            // TODO user-friendly response to server-error
                // FORMAT -> Error type, Error code, Error desc, render as dismissable field on top of modal
            if(data.status === "error"){
                [...form.elements].filter(input=> input != "submit" && input != "hidden").forEach(input=>{
                    let formField =document.getElementById(input.id)
                    let errorFeedback = document.getElementById(`${input.id}-invalid-feedback`);
                    if(data.errors[input.id] !== undefined){
                        formField.parentElement.contains(errorFeedback)?errorFeedback.remove():undefined;
                        let invalidFeedback = document.createElement("div");
                        // let invalidField = formField;
                        invalidFeedback.id = `${input.id}-invalid-feedback`;
                        invalidFeedback.classList.add("invalid-feedback");
                        invalidFeedback.innerText = data.errors[input.id][0];

                        formField.classList.add("is-invalid");
                        formField.parentElement.appendChild(invalidFeedback);
                    } else{
                        // let validField = formField;
                        formField.classList.remove("is-invalid");
                        formField.classList.add("is-valid");
                        formField.parentElement.contains(errorFeedback)?errorFeedback.remove():undefined;
                    }
                });
            } else{
                // Go through form and make everything valid, remove feedback if present
                [...form.elements].filter(input=>input.type!="hidden" && input.type!="submit").forEach(input=>{
                    let formField = document.getElementById(input.id);
                    let errorFeedback = document.getElementById(`${input.id}-invalid-feedback`);
                    formField.classList.remove("is-invalid");
                    formField.parentElement.contains(errorFeedback)?errorFeedback.remove():undefined;
                    formField.classList.add("is-valid");
                });

                //close modal after 1.5s
                modalCloseOnSuccess(modalName);

                //populate spans
                Object.keys(data).filter(k=>k!=="status").forEach(k => {
                    // TODO empty field handling, both here and in jinja render
                    document.getElementById(`character-${k}`).innerText = data[k];
                });
            }
        }
    });

//business field handling
</script>