<!DOCTYPE html>
<html lang="en" class="h-100">
    {% from 'bootstrap5/form.html' import render_form %}
    <head>
        <meta charset="utf-8">
        <title>Password Reset</title>
        {{ bootstrap.load_css() }}
    </head>
    <body class="d-flex h-100 text-center text-bg-dark">
        
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <!-- For alignment -->
            </header>

            <main class="px-3 gap-5">
                <div class="row">
                    <h1>Password Reset</h1>
                </div>
                {% if state == "request" %}
                <div class="row">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="flash alert alert-danger w-75 mx-auto">{{ messages[0] }}</div>
                    {% endif %}
                    {% endwith %}
                    {{ render_form(form, id="resetform", action=url_for('auth.reset_password'),extra_classes="w-50 mx-auto", novalidate=true ) }}
                </div>
                {% elif state == "change" %}
                <div class="row">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    <div class="flash alert alert-danger w-75 mx-auto">{{ messages[0] }}</div>
                    {% endif %}
                    {% endwith %}
                    {{ render_form(form, id="passwordform", extra_classes="w-50 mx-auto", novalidate=true ) }}
                </div>
                {% elif state == "success" %}
                <div class="row">
                    <h1>Your password has been changed successfully, press the button below to return back to the home page and login</h1>
                </div>
                {% endif %}
                <div class="row">
                    <a href="{{url_for('main_page.get_charid')}}" class="btn btn-primary w-50 mx-auto my-3">Return to home page</a>
                </div>
            </main>
            {% include "footer.html" %}
        </div>
        {{ bootstrap.load_js() }}
    </body>
</html>