<!-- roleplaying.html -->
<div id="roleplayingLayout" class="row h-100 py-2">
    <!-- Character Details (Column One) -->
    <div class="col-md-4">
        <!-- Character Name with Tagline -->
        <!-- 20 chars max, pull from mains for now -->
        <h3>Character Nameaaaaaa {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#RPCharNicknamesModal">📝</span>{% endif %}</h3>

        <!-- Aliases/Nicknames (Smaller text) -->
        {% if database.roleplaying.alias|length >= 2 %}
        <!-- Limit 2-40 chars -->
        <p id="char-alias" class="aliases-text mb-2">AKA: {{database.roleplaying.alias}}</p>
        {% endif %}
        <!-- Character Box -->
        <div class="socials-box mt-0 px-1 py-2">
            <!-- Character Age -->
            <!-- Enforce integer, limit 5 digits -->
            <p class="character-detail"><strong>Age:</strong> {{ database.roleplaying.age }}
                {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#RPCharSummaryModal">📝</span>{% endif %}
            </p>
    
            <!-- Gender -->
            <!-- Limit 20 -->
            <p class="character-detail"><strong>Gender:</strong> {{ database.roleplaying.gender }}</p>
    
            <!-- Sexuality -->
            <!-- Limit 35 -->
            <p class="character-detail"><strong>Sexuality:</strong> {{ database.roleplaying.sexuality }}</p>
    
            <!-- Relationship Status -->
            <!-- Limit 20 -->
            <p class="character-detail"><strong>Relationship Status:</strong> {{ database.roleplaying.relationship_status }}</p>
        </div>
  
        <!-- Socials Box -->
        <div class="socials-box px-1 py-2 mt-2">
            <h4>
                Socials
                {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#RPSocialsModal">📝</span>{% endif %}
            </h4>
            <ul>
                <!-- Limit 15 (twitter handle maxlen) -->
                <li><strong>Twitter:</strong> aaaaaaaaaaaaaaa</li>
                <!-- Limit 40 url link, use shortener if needed -->
                <li><strong>Website:</strong> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
                <!-- Limit 32 (discord maxlen) -->
                <li><strong>Discord:</strong> aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
                <!-- 90 chars -->
                <li><strong>Notes:</strong><span class="px-0 py-0">aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</span></li>
            </ul>
        </div>

        <!-- About Me Box -->
        <div class="socials-box px-1 py-2 mt-2">
            <h4>
                About Me            
                {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#RPAboutMeModal">📝</span>{% endif %}
            </h4>
            <!-- 294 chars, limit 290 -->
            <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
        </div>
    </div>
  
    <!-- Character Portrait (Column Two) -->
    <div class="col-md-4 px-0 h-100">
        <div class="row-auto h-100">
            <!-- Include an image or any other content for the character's portrait -->
            {% if "roleplay" not in src %}
            <img class="img-fluid" id="rp-avatar" src="{{collectible['character']['portrait']}}" alt="RP-Avatar">
            {% else %}
            <img class="img-fluid" id="rp-avatar" src="{{src['roleplay']}}" alt="RP-Avatar">
            {% endif %}
            <!-- 50 chars -->
            <h4 class="tagline mt-2 text-center">
                aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
                {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#RPCharQuoteModal">📝</span>{% endif %}
            </h4>
        </div>
      </div>
  
    <!-- Other Details (Column Three) -->
    <div class="col-md-4">
       <!-- Positive and Negative Traits Box -->
       <div class="socials-box mt-0 px-1 py-2 d-flex flex-row">
        {% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#RPTraitsModal">📝</span>{% endif %}
            <!-- Positive Traits List -->
            <div class="traits-list flex-fill text-center">
                <h5>Positive Traits</h5>
                <ul class="list-unstyled">
                    <!-- Limit 20 chars each side-->
                    <li>aaaaaaaaaaaaaaaaaaaa</li>
                    <li>Positive Trait 2</li>
                    <li>Positive Trait 3</li>
                    <li>Positive Trait 4</li>
                    <li>Positive Trait 5</li>
                    <!-- Add more positive traits -->
                </ul>
            </div>
            <!-- Negative Traits List -->
            <div class="traits-list flex-fill text-center">
                <h5>Negative Traits</h5>
                <ul class="list-unstyled">
                    <li>aaaaaaaaaaaaaaaaaaaa</li>
                    <li>Negative Trait 2</li>
                    <li>Negative Trait 3</li>
                    <li>Negative Trait 4</li>
                    <li>Negative Trait 5</li>
                    <!-- Add more negative traits -->
                </ul>
            </div>
        </div>
        <!-- Hooks Box -->
        <div class="socials-box px-1 py-1 mt-2">
            <!-- Hooks List -->
            <ul class="list-unstyled">
                <!-- h4 30 chars -->
                <!-- 240 chars text -->
                <li><h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa{% if is_edit == True %}<span data-bs-toggle="modal" data-bs-target="#RPHooksModal">📝</span>{% endif %}</h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
                <li><h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
                <li><h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</h4>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</li>
            </ul>
        </div>
    </div>
  </div>
  