html{
    font-size:16px;
}

/* set root font-size for 720p+ */
@media screen and (min-width: 1281px) {
    html {
        font-size: calc(16px + 0.5vw);
    }
}

p{
    margin: 0;
    font-size: 1rem;
}

.additional-text{
    font-size: 1.25rem;
    word-wrap: break-word;
}

.fight-text{
    font-size: 1.25rem;
}

/* Custom styles for the main container */
.main-container {
    /* min is 1280x720 */
    /* min-width: 72rem;
    min-height: 45rem; */
    /* max */
    /* max-width: 160rem;
    max-height: 90rem; */
    max-width: 72rem;
    max-height: 45rem;
    margin: auto;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #e2dddd; /* temp */
}

/* Custom styles for the avatar container */
.avatar-container {
    /* max-height: 100%;
    width: 35%; */
    margin: auto;
}

/* Custom styles for the avatar image */
.avatar {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

/* Custom styles for the text container */
.text-container {
    text-align: right;
}

.character-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.ingame-title {
    font-style: italic;
    color: #666;
}

.race-subrace {
    color: #666;
}

.twelve {
    color: #666;
}

.server-info {
    color: #888;
}

.free-company {
    margin-top: 0.3125rem;
    color: #444;
}

/* Custom styles for the job and level container */
.job-level-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.25rem; /* Adjust as needed */
    max-width: 30rem; /* Limit the maximum width */
}

/* Custom styles for each job and level pair */
.job-level-pair {
    margin-right:  0.1875rem; /* Adjust as needed */
    margin-bottom: 0.125rem; /* Adjust as needed */
    text-align: left;
}

.job-icon {
    width: 1.75rem; /* Adjust the width of the job icon */
    height: 1.75rem; /* Adjust the height of the job icon */
}

/* Boss icon sizing */
.boss-icon {
    width: 4rem;
    height: 4rem;
}

.collectible-icon, .achievement-icon{
    width: 2.5rem;
    height: 2.5rem;
}

.icon {
    max-width:100%;
    max-height:100%;
}

.job-level {
    font-size: 0.875rem; /* Adjust the font size of the job level */
    font-weight: bold;
    color: #333;
}

/* Additional styles for overlapping images and text in the free-company div */
.free-company {
    position: relative;
}

.flex-container {
    display: flex;
    align-items: center; /* Align items vertically in the center */
    justify-content: flex-end; /* Align items to the right */
}

.text-content {
    z-index: 1; /* Ensure text is above images */
    margin-right: 3.75rem;
    margin-top: 0.8rem;
    color: #444;
}

/* Container for overlapping layers */
.company-logo-container {
    position: relative;
}

/* Style for each layer */
.company-logo {
    width: 3.5rem; /* Adjust the width as needed */
    height: 3.5rem; /* Adjust the height as needed */
    object-fit: cover;
    position: absolute;
    border-radius: 10px;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem
}

/* Adjust the position of each layer */
.top-layer {
    z-index: 3; /* Ensure the top layer is above the others */
}

.middle-layer {
    z-index: 2;
}

.bottom-layer {
    z-index: 1; /* Ensure the bottom layer is at the bottom */
}

.tab-containers {
    height: 94%;
}

/* Custom styles for navigation tabs */
.nav-tabs {
    background-color: #333;
    border-bottom: 1px solid #ddd;
}

.nav-tabs .nav-link {
    color: #fff;
}

.nav-tabs .nav-link.active {
    background-color: #555;
    color: #fff;
}

.wrapped-text {
    max-width: 100%;
}

/* Custom scrollbar style */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: #6c757d; /* Set the color of the scrollbar thumb */
    border-radius: 4px; /* Set the border radius of the thumb */
}

::-webkit-scrollbar-track {
    background-color: #f8f9fa; /* Set the color of the scrollbar track */
}

body {
    scrollbar-color: #6c757d #f8f9fa; /* thumb color, track color */
    scrollbar-width: thin; /* width of the scrollbar */
}