<!-- business.html -->
<div id="businessCardLayout" class="row h-100 d-none">
    <!-- Business Card Content (Full Row) -->
    <div class="row-auto">
        <div class="col-md-12 pt-2">
            <!-- Combined Space for Image (Layout 2) -->
            <div id="combinedImageSpace" class="row g-0">
                {% if "big" not in src %}
                <img id="bigImg" src="https://via.placeholder.com/1140x375" class="img-fluid d-none">
                {% else %}
                <img id="bigImg" src="{{src['big']}}" class="img-fluid venueImg d-none">
                {% endif %}
                <div class="col-md-5">
                    {% if "one" not in src %}
                    <img id="businessImg" src="https://via.placeholder.com/375x375" class="img-fluid">
                    {% else %}
                    <img id="businessImg" src="{{src['one']}}" class="img-fluid">
                    {% endif %}
                </div>
                <div class="col-md-7 text-end">
                    {% if "two" not in src %}
                    <img id="venueImg" src="https://via.placeholder.com/650x375" class="img-fluid">
                    {% else %}
                    <img id="venueImg" src="{{src['two']}}" class="img-fluid">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Other Business Details (Two Columns Below) -->
    <div class="row-auto d-flex align-items-end justify-content-between">
        <!-- Business Card Column -->
        <div class="col-md-5 py-2">
            <!-- Additional Business Card Details -->
            <h1 id="businessName" style="display: none;" class="mt-2">Business Text</h1>
            <h4>Tagline</h4>
            <!-- Contact Information/Socials Box -->
            <div class="socials-box mt-2 px-1 py-2">
                <h4>Contact & Socials</h4>
                <ul class="list-unstyled mb-0">
                    <li><strong>Address:</strong> The Firmament - Ward 25 - Plot 32 - Tonberry - Elemental</li>
                    <li><strong>Venue website:</strong> https://testvenuewebsite.com</li>
                    <li><strong>Operating times:</strong> Fridays-Sundays 2100-0100 hours GMT+8</li>
                    <li><strong>Discord:</strong> test#1234</li>
                    <li><strong>Twitter:</strong> @VenueTwitter</li>
                    <!-- Additional socials or contact information can be added here -->
                </ul>
            </div>
        </div>

        <!-- Character Details Column -->
        <div class="col-md-5 py-2 ps-0 text-md-end">
            <!-- Current Character's Details -->
            <h3>Character Name</h3>
            <p class="mb-0">Role at the Venue: Venue Role</p>
            <p class="mb-0">Personal Website: <a href="https://www.characterwebsite.com" target="_blank">www.characterwebsite.com</a></p>
            <!-- Contact Information/Socials Box -->
            <div class="socials-box mt-2 px-1 py-2">
                <h4>Contact & Socials</h4>
                <ul class="list-unstyled mb-0">
                    <li><strong>Discord:</strong> test#1234</li>
                    <li><strong>Twitter:</strong> @VenueTwitter</li>
                    <li><strong>Personal website:</strong> https://test.com</li>
                    <!-- Additional socials or contact information can be added here -->
                </ul>
            </div>
        </div>
    </div>
</div>