<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Adventure Plate generator</title>
        {{ bootstrap.load_css() }}
        {{ bootstrap.load_js() }}
        <script src="https://code.createjs.com/1.0.0/createjs.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static', filename='assets/styles/styles.css')}}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <!-- Desktop layout coded and styled against 1280x720 (720p) displays. Any smaller and maybe mobile format? -->
        {% from 'bootstrap5/form.html' import render_form %}
    </head>

    <body>
        <div class="container main-container px-0 pb-2 h-100" style="border: 2px solid black; border-radius: 10px;">
            <header class="bg-dark text-white">
                <!-- Navigation tabs -->
                <ul class="nav nav-tabs" id="myTabs">
                    <li class="nav-item">
                        <a class="nav-link active" id="summary-tab" data-bs-toggle="tab" href="#summary">Summary</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="raid-performance-tab" data-bs-toggle="tab" href="#raid-performance">Raid Performance</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mounts-minions-tab" data-bs-toggle="tab" href="#collectibles">Collectibles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="roleplay-tab" data-bs-toggle="tab" href="#roleplay">Roleplay</a>
                    </li>
                </ul>
            </header>
    
            <!-- Avatar and text container -->
            <!-- Content tabs -->
            <div class="tab-content tab-containers px-3">
                <!-- Summary tab content -->
                <div class="tab-pane fade show active h-100" id="summary">
                    <div class="row my-1 h-100">
                        <!-- Avatar container with max dimensions and centered position -->
                        <div class="col-md-4 d-flex align-items-center">
                            <div class="avatar-container">
                                <!-- Your dynamic avatar image -->
                                {% if src == None %}
                                <img class="avatar img-fluid" id="avatar" src="{{collectible['character']['portrait']}}" alt="Avatar">
                                {% else %}
                                <img class="avatar img-fluid" id="avatar" src="{{src}}" alt="Avatar">
                                {% endif %}
                                {% if is_edit == True %}
                                {{render_form(form, id="portrait-form", novalidate=True)}}
                                {{form.char_id()}}
                                {% endif %}
                            </div>
                        </div>
    
                        <!-- Text container for right-aligned text -->
                        <div class="col-md-8 text-container align-items-center">
                            <div class="row h-100 justify-content-between">

                                {% include "job-containers.html" %}
                                <div class="col">
                                    <div class="character-name"><h3>{{character["name"]}} / {{character["race"]["gender"]}} / <img class="icon" style="height: 2.5rem; width: 2.5rem;" src="static\assets\job_icons\weaver.png"></h3></div>
                                    <div class="ingame-title"><h3>« {{character["title"]}} »</h3></div>
                                    <div class="race-subrace"><h3>{{character["race"]["race"][0]}} - {{character["race"]["race"][1:]|join(" ")}}</h3></div>
                                    <div class="twelve"><h2>{{character["twelve"]["name"]}} <img src="{{character['twelve']['icon']}}" /></h3></div>
                                    <div class="server-info mb-0"><h3 class="mb-0">{{character["dcserver"][1]}} - {{character["dcserver"][0]}}</h3></div>
                                    {% if character.get("freecompany") != None %}
                                    <div class="free-company py-3 mt-0">
                                        <div class="flex-container">
                                            <!-- Three overlapping images -->
                                            <img class="company-logo top-layer" src="{{character['freecompany']['top']}}" alt="Logo 1">
                                            <img class="company-logo middle-layer" src="{{character['freecompany']['middle']}}" alt="Logo 2">
                                            <img class="company-logo bottom-layer" src="{{character['freecompany']['bottom']}}" alt="Logo 3">
                                            <!-- Text content -->
                                            <div class="text-content">
                                                <h3>{{character["freecompany"]["name"]}} - {{character["freecompany"]["tag"]}}</h3>
                                            </div>
                                
                                        </div>
                                    </div>
                                    {% endif %}
                                    <!-- Additional element for displaying up to 500 characters of text -->
                                    <div id="additional-text" class="additional-text text-wrap">
                                        <p>China is where dead RTSs go to die</p>
                                        {% if is_edit == True %}
                                        <span id="edit-summary-button" onclick="enableEditing()">📝</span>
                                        {% endif %}
                                    </div>
                                    <div class="activity-indicators" style="border: 1px solid black;" style="height: 10rem;">
                                        <!-- possibly will naturally fill -->
                                        <!-- possibly up to 8 icons -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Raid Performance tab content -->
                <div class="tab-pane fade h-100" id="raid-performance">
                    <div class="row h-100 py-2">
                        {% if raid != none %}
                        {% include "raids.html" %}
                        {% else %}
                        <!-- Another condition might be needed for fully private logs -->
                        <h1>This character's raid logs either don't exist or are privated</h1>
                        {% endif %}
                    </div>
                </div>

                <!-- Mounts/Minions tab content -->
                <div class="tab-pane fade h-100" id="collectibles">
                    <div class="row h-100 py-2">
                        {% include "collectible-containers.html" %}
                    </div>
                </div>

                <!-- Roleplay tab content -->
                <div class="tab-pane fade" id="roleplay">
                    <h2>Roleplay Content Goes Here</h2>
                </div>
            </div>

            <footer>
                <!-- Your footer content here -->
            </footer>
        </div>
        <!-- Add Bootstrap JS and Popper.js scripts -->
        <script type="text/javascript">

            function enableEditing() {
                // Get the existing text content
                const existingText = document.querySelector('#additional-text p').innerText;

                // Create an input element for editing
                const inputElement = document.createElement('textarea');
                // inputElement.type = 'text';
                inputElement.value = existingText;
                inputElement.maxLength = 200; // Set the maximum character limit
                inputElement.classList.add("w-100")
                inputElement.classList.add("form-control")
                inputElement.style.height = "6.5rem"
                inputElement.style.fontSize = "1rem"
                inputElement.style.resize = "none"

                // Create a button for confirmation
                const confirmButton = document.createElement('button');
                confirmButton.innerText = 'Confirm';
                confirmButton.onclick = saveChanges;
                confirmButton.classList.add("form-control")
                confirmButton.classList.add("btn")
                confirmButton.classList.add("btn-primary")

                // Replace the existing div content with the input and button
                document.getElementById("edit-summary-button").remove()
                const additionalTextDiv = document.getElementById('additional-text');
                additionalTextDiv.innerHTML = ''; // Clear existing content
                additionalTextDiv.appendChild(inputElement);
                additionalTextDiv.appendChild(confirmButton);

                // Focus on the input field
                inputElement.focus();
            }

            function saveChanges() {
                // Get the input element and its value
                const inputElement = document.querySelector('#additional-text textarea');
                const newText = inputElement.value;
                // Limit the text to 500 characters
                const limitedText = newText.substring(0, 200);

                // Replace the input and button with the updated text
                const additionalTextDiv = document.getElementById('additional-text');
                additionalTextDiv.innerHTML = `<p>${limitedText}</p><span id='edit-summary-button' onclick='enableEditing()'>📝</span>`;
            }

            $("#submit").click(event=>{
                console.log("here")
                event.preventDefault();

                const editForm = new FormData(document.getElementById("portrait-form"))

                $.ajax({
                    url: "{{url_for('upload_portrait')}}",
                    data: editForm,
                    contentType: false,
                    processData: false,
                    type: "POST",
                    success: data=>{
                        document.getElementById("avatar").src=data["src"]
                    }
                }).done(data=>{
                    imgurl=`${data["src"]}?timestamp=${Date.now()}`
                    document.getElementById("avatar").src=imgurl
                })
            })
        </script>
        {{ bootstrap.load_js() }}
    </body>
</html>