<!-- Collectibles container -->
<!-- Horizontal tab navigation for Mounts, Minions, and Achievements -->
<ul class="nav nav-tabs" id="collectiblesTabs">
    <li class="nav-item">
        <a class="nav-link active" id="mounts-tab" data-bs-toggle="tab" href="#mounts">Mounts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="minions-tab" data-bs-toggle="tab" href="#minions">Minions</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="achievements-tab" data-bs-toggle="tab" href="#achievements">Achievements</a>
    </li>
</ul>
<div class="tab-content pt-2 tab-containers">
    <!-- Mounts content -->
    <div class="tab-pane fade overflow-y-auto show active h-100" id="mounts">
        <h2>{{collectible["character"]["mounts"]["count"]}}/{{collectible["character"]["mounts"]["total"]}} Mounts collected</h2>

        <div class="row w-100">
            {% for mount in collectible["mounts"] %}
                <div class="col-sm-1 mb-2 px-0 text-center">
                        <!-- Mount image -->
                        <img class="collectible-icon" src="{{mount['icon']}}" alt="{{mount['name']}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{mount['name']}}" data-bs-trigger="hover focus" data-bs-delay="0">
                        
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Minions content -->
    <div class="tab-pane overflow-y-auto h-100 fade" id="minions">
        <h2>{{collectible["character"]["minions"]["count"]}}/{{collectible["character"]["minions"]["total"]}} Mounts collected</h2>

        <div class="row w-100">
            {% for minion in collectible["minions"] %}
                <div class="col-sm-1 mb-2 px-0 text-center">
                        <!-- Mount image -->
                        <img class="collectible-icon" src="{{minion['icon']}}" alt="{{minion['name']}}" data-bs-toggle="tooltip" data-bs-placement="top" title="{{minion['name']}}" data-bs-trigger="hover focus" data-bs-delay="0">
                        
                </div>
            {% endfor %}
        </div>
    </div>

    <!-- Achievements content -->
    <div class="tab-pane overflow-y-auto fade h-100" id="achievements">
        <!-- Achievements Navigation Bar -->
        <div class="row w-100">
            <div class="col-md-3 my-2 h-100">
                <div class="text-center">
                    <h5>Achievement points: {{collectible["character"]["achievements"]["points"]}}</h5>
                    <h5>{{collectible["character"]["achievements"]["count"]}}/{{collectible["character"]["achievements"]["total"]}} Complete</h5>
                </div>
                <div class="accordion" id="achievementAccordion">
                    {% for category in collectible["achievements"] %}
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="{{ category.lower()|replace(' ','-')|replace('&','and') }}">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ category|replace(' ','-')|replace('&','and') }}" aria-expanded="{{ loop.index == 1 }}" aria-controls="collapse{{ category|replace(' ','-')|replace('&','and') }}">
                                    {{ category }}
                                </button>
                            </h2>
                            <div id="collapse{{ category|replace(' ','-')|replace('&','and') }}" class="accordion-collapse collapse{{ ' show' if loop.index == 1 }}" aria-labelledby="{{ category.lower()|replace(' ','-')|replace('&','and') }}" data-bs-parent="#achievementAccordion">
                                <div class="accordion-body">
                                    <ul class="nav nav-pills flex-column" id="{{ category.lower()|replace(' ','-')|replace('&','and') }}-tabs">
                                    {% for subcategory, contents in collectible["achievements"][category]|items %}
                                    <li class="nav-item">
                                    <a href="#" class="nav-link subcat-tabs" id="{{ subcategory.lower()|replace(' ','-')|replace('&','and') }}-tab" data-subcategory="{{subcategory}}" data-achievements='{{ contents | tojson|safe }}'>
                                        {{ subcategory }}
                                    </a>
                                    </li>
                                    {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        

            <!-- Content for Achievements -->
            <div id="achievementContent" class="col my-2 h-100">
            </div>
        </div>
    </div>
</div>
<!-- Initialize Bootstrap tooltips -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var subcategoryLinks = document.querySelectorAll('.subcat-tabs');

        subcategoryLinks.forEach(function (link) {
            link.addEventListener('click', function () {
                var subcategory = this.getAttribute('data-subcategory');
                var achievements = this.getAttribute('data-achievements');
                subcategoryLinks.forEach((subcat)=>{
                    subcat.classList.remove("active")
                })
                this.classList.add("active")
                loadSubcategoryContent(subcategory, achievements);
            });
        });

        // Load content for the selected subcategory
        function loadSubcategoryContent(subcategory, achievements) {
            var achievementContent = document.getElementById('achievementContent');
            achievementContent.innerHTML = ''; // Clear previous content
            achievementsToJSON = JSON.parse(achievements)

            // Iterate through achievements and append content for each
            achievementsToJSON.forEach(function (achievement) {
                var achievementRow = document.createElement('div');
                achievementRow.className = 'row achievement-row pb-2';

                // First column (40x40 thumbnail)
                var thumbnailColumn = document.createElement('div');
                thumbnailColumn.className = 'col-md-1 px-0';
                thumbnailColumn.innerHTML = `<img src="${achievement.icon}" alt="Achievement Thumbnail" class="achievement-icon">`;

                // Second column (Achievement details)
                var detailsColumn = document.createElement('div');
                detailsColumn.className = 'col';
                detailsColumn.innerHTML = `
                    <div class="row">
                        <div class="col px-0">
                            <span class="achievement-patch">(${achievement.patch}) </span><span class="achievement-name">${achievement.name}</span> - <span class="achievement-points">${achievement.points}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col px-0">
                            <p class="achievement-description">${achievement.description}</p>
                        </div>
                    </div>
                `;

                achievementHR = document.createElement("hr")
                achievementHR.className = "my-2"

                achievementRow.appendChild(thumbnailColumn);
                achievementRow.appendChild(detailsColumn);
                achievementRow.appendChild(achievementHR)

                achievementContent.appendChild(achievementRow);
            });
        }

        // Set initial content for the first subcategory
        // document.getElementsByClassName("achievementContent").innerHTML
        console.log(subcategoryLinks)
        var initialSubcategory = subcategoryLinks[0].getAttribute('data-subcategory');
        var initialAchievements = subcategoryLinks[0].getAttribute('data-achievements');
        document.getElementById(subcategoryLinks[0].getAttribute("id")).classList.add("active")
        loadSubcategoryContent(initialSubcategory, initialAchievements);
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    });
</script>