                        <!-- Job and Level container -->
                        <div class="col-auto me-2 pl-3 pe-0">
                            <div class="job-level-container">
                                <!-- Job and Level pair 1 -->
                                <div class="job-level-pair text-center">
                                    <div class="job-icon">
                                        <img class="icon" src="static\assets\job_icons\weaver.png">
                                    </div>
                                </div>
                                
                                <!-- Job and Level pair 2 -->
                                {% for job in character["char_jobs"] %}
                                {% if job["role"]=="tank" %}
                                <div class="job-level-pair text-center">
                                    <div class="job-icon mb-2">
                                        <img class="icon" src="{{job['icon_local']}}" alt="{{job['name']}}">
                                    </div>
                                    <div class="job-level">{{job["level"]}}</div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="job-level-container">
                                <!-- Job and Level pair 1 -->
                                <div class="job-level-pair text-center">
                                    <div class="job-icon">
                                        <img class="icon" src="static\assets\job_icons\weaver.png">
                                    </div>
                                </div>
    
                                <!-- Job and Level pair 2 -->
                                {% for job in character["char_jobs"] %}
                                {% if job["role"]=="healer" %}
                                <div class="job-level-pair text-center">
                                    <div class="job-icon mb-2">
                                        <img class="icon" src="{{job['icon_local']}}" alt="{{job['name']}}">
                                    </div>
                                    <div class="job-level">{{job["level"]}}</div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="job-level-container">
                                <!-- Job and Level pair 1 -->
                                <div class="job-level-pair text-center">
                                    <div class="job-icon">
                                        <img class="icon" src="static\assets\job_icons\weaver.png">
                                    </div>
                                </div>
    
                                <!-- Job and Level pair 2 -->
                                {% for job in character["char_jobs"] %}
                                {% if job["role"]=="melee" %}
                                <div class="job-level-pair text-center">
                                    <div class="job-icon mb-2">
                                        <img class="icon" src="{{job['icon_local']}}" alt="{{job['name']}}">
                                    </div>
                                    <div class="job-level">{{job["level"]}}</div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="job-level-container">
                                <!-- Job and Level pair 1 -->
                                <div class="job-level-pair text-center">
                                    <div class="job-icon">
                                        <img class="icon" src="static\assets\job_icons\weaver.png">
                                    </div>
                                </div>
    
                                <!-- Job and Level pair 2 -->
                                {% for job in character["char_jobs"] %}
                                {% if job["role"]=="prange" %}
                                <div class="job-level-pair text-center">
                                    <div class="job-icon mb-2">
                                        <img class="icon" src="{{job['icon_local']}}" alt="{{job['name']}}">
                                    </div>
                                    <div class="job-level">{{job["level"]}}</div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="job-level-container">
                                <!-- Job and Level pair 1 -->
                                <div class="job-level-pair text-center">
                                    <div class="job-icon">
                                        <img class="icon" src="static\assets\job_icons\weaver.png">
                                    </div>
                                </div>
    
                                <!-- Job and Level pair 2 -->
                                {% for job in character["char_jobs"] %}
                                {% if job["role"]=="caster" %}
                                <div class="job-level-pair text-center">
                                    <div class="job-icon mb-2">
                                        <img class="icon" src="{{job['icon_local']}}" alt="{{job['name']}}">
                                    </div>
                                    <div class="job-level">{{job["level"]}}</div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                        <!-- </div> -->

                        <!-- Additional column for job containers -->
                        <!-- <div class="col-md-4 px-0"> -->
                            <div class="job-level-container">
                                <!-- Job and Level pair 1 -->
                                <div class="job-level-pair text-center">
                                    <div class="job-icon">
                                        <img class="icon" src="static\assets\job_icons\weaver.png">
                                    </div>
                                </div>
    
                                <!-- Job and Level pair 2 -->
                                {% for job in character["char_jobs"] %}
                                {% if job["role"]=="doh" %}
                                <div class="job-level-pair text-center">
                                    <div class="job-icon mb-2">
                                        <img class="icon" src="{{job['icon_local']}}" alt="{{job['name']}}">
                                    </div>
                                    <div class="job-level">{{job["level"]}}</div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            <div class="job-level-container">
                                <!-- Job and Level pair 1 -->
                                <div class="job-level-pair text-center">
                                    <div class="job-icon">
                                        <img class="icon" src="static\assets\job_icons\weaver.png">
                                    </div>
                                </div>
    
                                <!-- Job and Level pair 2 -->
                                {% for job in character["char_jobs"] %}
                                {% if job["role"]=="dol" %}
                                <div class="job-level-pair text-center">
                                    <div class="job-icon mb-2">
                                        <img class="icon" src="{{job['icon_local']}}" alt="{{job['name']}}">
                                    </div>
                                    <div class="job-level">{{job["level"]}}</div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>
                    </div>