<!-- Panel with tabs -->
<div class="col-md-3 h-100">
    <ul class="nav nav-tabs flex-column" style="border-radius: 10px;">
        <li class="nav-item">
            <a class="nav-link active" id="ultimates-tab" data-bs-toggle="tab" href="#ultimates">Ultimates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="endwalker-tab" data-bs-toggle="tab" href="#endwalker">Endwalker</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="shadowbringers-tab" data-bs-toggle="tab" href="#shadowbringers">Shadowbringers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stormblood-tab" data-bs-toggle="tab" href="#stormblood">Stormblood</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="heavensward-tab" data-bs-toggle="tab" href="#heavensward">Heavensward</a>
        </li>
        <!-- Add more tabs as needed -->
    </ul>
</div>
<!-- Content area for selected raids -->
<div class="col h-100">
    <div class="tab-content h-100">
        <!-- Content for Ultimates -->
        <div class="tab-pane fade show active" id="ultimates">
            <ul class="nav nav-tabs" id="ultimateSubtabs" style="border-radius: 10px;">
                <!-- Use dict name as everything for tab -->
                {% for tier in character["char_raids"]["ultimates"] %}
                <li class="nav-item">
                    {% if loop.index == 1 %}
                    <a class="nav-link active" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% else %}
                    <a class="nav-link" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                <!-- Loop to unpack and use information -->
                {% for name, tier in character["char_raids"]["ultimates"]|items %}
                {% include "raid-containers.html"%}
                {% endfor %}
            </div>
        </div>
        <!-- Content for endwalker -->
        <div class="tab-pane fade" id="endwalker">
            <!-- Content for Category 2 goes here -->
            <ul class="nav nav-tabs" id="endwalkerSubtabs">
                <!-- Use dict name as everything for tab -->
                {% for tier in character["char_raids"]["endwalker"] %}
                <li class="nav-item">
                    {% if loop.index == 1 %}
                    <a class="nav-link active" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% else %}
                    <a class="nav-link" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for name, tier in character["char_raids"]["endwalker"]|items %}
                {% include "raid-containers.html" %}
                {% endfor %}
            </div>
        </div>
        <!-- Content for shadowbringers -->
        <div class="tab-pane fade" id="shadowbringers">
            <!-- Content for Category 2 goes here -->
            <ul class="nav nav-tabs" id="shadowbringersSubtabs">
                <!-- Use dict name as everything for tab -->
                {% for tier in character["char_raids"]["shadowbringers"] %}
                <li class="nav-item">
                    {% if loop.index == 1 %}
                    <a class="nav-link active" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% else %}
                    <a class="nav-link" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for name, tier in character["char_raids"]["shadowbringers"]|items %}
                {% include "raid-containers.html" %}
                {% endfor %}
            </div>
        </div>
        <!-- Content for stormblood -->
        <div class="tab-pane fade" id="stormblood">
            <!-- Content for Category 2 goes here -->
            <ul class="nav nav-tabs" id="stormbloodSubtabs">
                <!-- Use dict name as everything for tab -->
                {% for tier in character["char_raids"]["stormblood"] %}
                <li class="nav-item">
                    {% if loop.index == 1 %}
                    <a class="nav-link active" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% else %}
                    <a class="nav-link" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for name, tier in character["char_raids"]["stormblood"]|items %}
                {% include "raid-containers.html" %}
                {% endfor %}
            </div>
        </div>
        <!-- Content for heavensward-->
        <div class="tab-pane fade" id="heavensward">
            <!-- Content for Category 2 goes here -->
            <ul class="nav nav-tabs" id="heavenswardSubtabs">
                <!-- Use dict name as everything for tab -->
                {% for tier in character["char_raids"]["heavensward"] %}
                <li class="nav-item">
                    {% if loop.index == 1 %}
                    <a class="nav-link active" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% else %}
                    <a class="nav-link" id="{{tier|replace(' ','-')|replace('\'s', '')}}-tab" data-bs-toggle="tab" href="#{{tier|replace(' ','-')|replace('\'s', '')}}">{{tier.title()|replace("'S", "'s")}}</a>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for name, tier in character["char_raids"]["heavensward"]|items %}
                {% include "raid-containers.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>